
.App-header{
   display: flex;
   justify-content: space-between;
   padding: 32px;

}

.header-text{
   font-size: 48px;
   text-align: center;
}

.header-button{
   border: none;
   background: none;
   font-size: 64px;
   color: orangered;
   padding:0 32px 0 32px;
}