
.App-footer{
   display: flex;
   position: fixed;
   bottom: 0;
   justify-content:space-between;
   max-width: 740px;
   width: 100%;

   background: antiquewhite;
}
.footer-button{
   padding:16px 32px ;
   background: none;
   border: none;

   font-size: 32px;
   color: orangered;
}

